{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <div class="form-group">
            <div class="jumbotron">
                <h2 class="dysplay-4">Subir archivos <span class="badge badge-secondary">.txt</span></h2>
                <input class="archivo" name="archivo 1" type="File">

                <input class="archivo" name="archivo 2" type="File">

            <hr class="my-4">
            <div> <h2>Tipos de algoritmos</h2>
                <input class="lines" name="algorithm" type="radio" value="lines">
                lines

                <input class="sentences" name="algorithm" type="radio" value="sentences">
                sentences

                <input class="substrings" name="algorithm" type="radio" value="substrings">
                substrings

                <input class="substrings" min="1" name="length" placeholder="de tamaño n" type="number">
            </div>

            <button type="submit" class="btn btn-outline-danger btn-lg">submit</button>

        </div>
        </div>

        </form>
    </div>

{% endblock %}
